@mixin light-theme {
    // Main
    --bg: #fff;
    --text: #111;
    --link: #fa0;
    --variant: #eee;

    // Accents
    --primary-bg: #fa0;
    --primary-text: #222;
    --selection-bg: #fb6;
    --selection-text: #222;
}

@mixin dark-theme {
    // Main
    --bg: #111;
    --text: #eee;
    --link: #fb6;
    --variant: #222;

    // Accents
    --primary-bg: #fb6;
    --primary-text: #222;
    --selection-bg: #fa0;
    --selection-text: #222;
}

body {
    @media (prefers-color-scheme: dark) {
        @include dark-theme;

        .moon {
            display: none;
        }

        .sun {
            display: inline-block;
        }
    }

    @media (prefers-color-scheme: light) {
        @include light-theme;

        .sun {
            display: none;
        }
    }

    &.light {
        @include light-theme;

        .moon {
            display: inline-block;
        }

        .sun {
            display: none;
        }
    }

    &.dark {
        @include dark-theme;

        .moon {
            display: none;
        }

        .sun {
            display: inline-block;
        }
    }
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-text);
}

::-moz-selection {
    background-color: var(--selection-bg);
    color: var(--selection-text);
}
