@use "colors";

// Fonts
@import url("https://rsms.me/inter/inter.css");

html,
input {
    font-family: "Inter", sans-serif;

    @supports (font-variation-settings: normal) {
        font-family: "Inter var", sans-serif;
    }
}

// Root
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;

    @supports (scroll-behavior: smooth) {
        scroll-behavior: smooth;
    }
}

html {
    height: -webkit-fill-available;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 2vh 1vw;
}

main {
    width: 88vw;
    max-width: 64rem;
    margin: 0 auto;
}

p {
    line-height: 1.5rem;
    text-align: justify;
}

// Scrollbar
::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-thumb {
    background: var(--bg);
    border-radius: 0.5rem;
    border: solid 0.375rem var(--variant);
}
