---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="Error 404">
    <main>
        <h1>This content is not available in your country.</h1>
    </main>
    <style lang="scss">
        main {
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                text-align: center;
            }
        }
    </style>
</BaseLayout>
