---
import Search from "../components/Search.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---


<BaseLayout title="ZeroLimits.dev">
	<main>
		<Search />
	</main>
</BaseLayout>

<style lang="scss">
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
</style>
