<div id="search">
    <input
        oninput="search()"
        id="searchBar"
        type="search"
        placeholder="Search for anything"
        autofocus
    />
    <ul id="searchResults"></ul>
    <p id="hint"></p>
</div>

<style lang="scss">
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    div {
        width: 100%;
        display: none;

        p {
            text-align: center;
            animation: fadeIn 0.25s;
        }

        input {
            width: 100%;
            background-color: var(--variant);
            border: none;
            padding: 0.75rem;
            border-radius: 0.75rem;
            color: var(--text);
            font-size: 1.25rem;
            text-align: center;
            position: relative;

            &:focus-visible {
                outline: none;
            }
        }

        ul {
            display: none;
            flex-direction: column;
            gap: 0.5rem;
            background-color: var(--variant);
            border-radius: 0.75rem;
            padding: 0.5rem;
            position: absolute;
            width: 100%;
            max-height: 80%;
            overflow: auto;
            z-index: 99;

            @media (max-width: 426px) {
                max-height: 40%;
            }

            :global(a) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.5rem;
                border-radius: 0.5rem;
                text-decoration: none;
                color: var(--text);
                transition: 0.25s;
                padding: 1rem;

                &:hover {
                    color: var(--primary-text);
                    background-color: var(--primary-bg);

                    :global(p).desc {
                        filter: opacity(75%);
                    }
                }

                :global(div) {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    :global(img) {
                        display: inline-block;
                        height: 1.25rem;
                        margin-right: 0.5rem;
                        vertical-align: -10%;
                    }
                }

                :global(p) {
                    font-size: 1.25rem;
                    text-align: center;
                    margin: 0;

                    &.desc {
                        filter: opacity(50%);
                    }
                }
            }
        }
    }
</style>

<script is:inline>
    // Only load search component if JS is enabled
    document.getElementById("search").style.display = "initial";

    async function search() {
        // Fetch links from links.json file and create array of links.
        const response = await fetch("/links.json");
        const jsonlinks = await response.json();
        const links = jsonlinks["links"];

        var resultsList = document.getElementById("searchResults"); // Results box
        var indices = [];
        var input = document.getElementById("searchBar"); // Search bar
        var query = input.value.toLowerCase(); // Search query in lowercase, to make search case-insensitive

        // This clears the results list every time you press in a character, effectively refreshing with every update to the query.
        while (resultsList.firstChild) {
            resultsList.removeChild(resultsList.firstChild);
        }

        // Find closest instance of query and give it priority,
        // eg. if query is "g", results like "GitHub" will have a higher position than "The Blog of Random",
        // since "GitHub" matches the query more than "The Blog of Random"
        function findTitles() {
            titles = [];
            for (var i = 0; i < links.length; i++) {
                if (links[i].title.toLowerCase().indexOf(query) > -1) {
                    titles.push([
                        i,
                        links[i].title.toLowerCase().indexOf(query),
                    ]);
                }
            }
            titles.sort((a, b) => a[1] - b[1]);
            return titles;
        }

        // Goes through tags and finds if any value inside the tags matches the search query.
        // The tags with higher positions for each get stored in a higher index in the final tags list,
        // eg. "The Blog of Random" would have a higher position for the "blog" tag than "Messengers",
        // since TBoR has a higher priority for the "blog" tag (see links.json).
        function findTags() {
            tags = [];
            for (i = 0; i < links.length; i++) {
                for (j = 0; j < links[i].tags.length; j++) {
                    if (links[i].tags[j].indexOf(query) > -1) {
                        tags.push([i, j]);
                        break;
                    }
                }
            }
            tags.sort((a, b) => a[1] - b[1]);
            return tags;
        }

        // Goes through descriptions and finds if any description matches the search query.
        // A more accurate search will yield a higher position in results,
        // eg. searching for "history" will give a higher result to the description
        // "The long and quite strange history of toilet paper" than to
        // "The simplest hardest problem in math history" since the word "history" shows up earlier in the former.
        function findDesc() {
            descs = [];
            for (var i = 0; i < links.length; i++) {
                if (
                    links[i].desc &&
                    links[i].desc.toLowerCase().indexOf(query) > -1
                ) {
                    descs.push([i, links[i].desc.toLowerCase().indexOf(query)]);
                }
            }
            descs.sort((a, b) => a[1] - b[1]);
            return descs;
        }

        if (query.replace(/\s+/g, "") == "") {
            // If query is empty, clear results
            resultsList.style.display = "none";
        } else if (query == "*") {
            for (var i = 0; i < links.length; i++) {
                indices.push(i);
            }
        } else {
            // This block orders content appropriately such that
            // titles have first priority, tags have second, and descriptions come last,
            // eg. if query is "p", titles with "p" in them like "Aperturic Focus"
            // should show up before results that have tags like "post"

            for (title of findTitles()) {
                // Skips the result if it's already been covered
                if (!indices.includes(title[0])) {
                    indices.push(title[0]);
                }
            }

            for (tag of findTags()) {
                if (!indices.includes(tag[0])) {
                    indices.push(tag[0]);
                }
            }

            for (desc of findDesc()) {
                if (!indices.includes(desc[0])) {
                    indices.push(desc[0]);
                }
            }
        }

        // If there are no results, hide results container.
        // Don't run the results creation code if its not needed.
        if (indices.length == 0) {
            resultsList.style.display = "none";
        } else {
            for (index of indices) {
                // Create an element <a href=url><div><img src=favicon><p>title</p></div><p class="desc">desc</p></a> for each result
                var result = document.createElement("a");
                var titleblock = document.createElement("div");
                var title = document.createElement("p");
                var favicon = links[index].favicon
                    ? document.createElement("img")
                    : null;
                var desc = links[index].desc
                    ? document.createElement("p")
                    : null;

                resultsList.style.display = "flex";
                resultsList.append(result);
                result.href = links[index].url;
                result.target = "_blank";
                result.append(titleblock);

                // If desc and favicon are not present, their elements are excluded
                if (desc != null) {
                    result.append(desc);
                    desc.innerHTML = links[index].desc;
                    desc.classList.add("desc");
                }

                if (favicon != null) {
                    titleblock.append(favicon);
                    favicon.src = links[index].favicon;
                }

                titleblock.append(title);

                title.innerHTML = links[index].title;
            }
        }
    }
</script>
<script is:inline>
    var hints = [
        "Hint: Type * to see all results!",
        "Try searching for my blog!",
        "Say cheese! Check out my photography by searching for it!",
        "Wanna talk? Search for my Matrix!",
        "All my work is open source, check it out by searching for 'GitHub'!",
        "If you wanna see all of my posts, try searching for 'posts'!",
        "Yearning for the ye olden days? Search for 'history'!",
        "In a science-y mood? Try searching for 'science'!",
        "Learn about our digital world by searching for 'tech'!",
    ];

    document.getElementById("hint").innerHTML =
        hints[Math.floor(Math.random() * hints.length)];
</script>
