---
import Head from "../components/Head.astro";
import ThemeToggle from "../components/ThemeToggle.astro";

import "../styles/global.scss"

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <Head />
        <title>{title}</title>
        <meta
            name="description"
            content={description ||
                "The most interesting boring homepage you've ever seen"}
        />
    </head>
    <body>
        <header>
            <ThemeToggle />
        </header>
        <slot />
    </body>
</html>
